*.class
*.log

hs_err_pid*

/.idea/
/asani-scala/.idea/
/asani-scala/target/
/asani-scala/project/target/
/asani-scala/.bsp/
/asani-scala/project/project/
asani-scala/src/main/scala/com/.DS_Store

/asani-python/.idea/

**/.DS_Store

__pycache__/